@import "dark"
@import "main"

div, button, a, img, [class*="col"], .row, img.splash, input,
    @extend .delay
    &:hover
        @extend .dev

.dev
    @extend .delay
    border: black ridge 4px
    padding: 0.1em

.delay
    transition-duration: 300ms
    transition-delay: 300ms
