@import "grid.scss"

$splash-size: 40px

.list
    @extend .row

.splashList
    @extend .scrollList
    height: $splash-size * 8

.scroll
    overflow: scroll

.scroll::-webkit-scrollbar
    display: none

.scrollList
    @extend .scroll
    @extend .list
    width: $splash-size * 10

.buildItemContainer
    @extend .splashContainer


.build 
    width: 40em
    height: 20em


.splashContainer
    height: $splash-size
    width: $splash-size


.splash 
    border-radius: 100%
    height: $splash-size
    width: $splash-size

.champion
    height: $splash-size * 5
    width:  $splash-size * 10

.hidden
    visibility: hidden
    display: none

.hiddenItem
    @extend .hidden
    @extend .item

.item 
    width: $splash-size * 10
    height: $splash-size * 5
    border: darkseagreen 0.1em solid
    position: fixed
    z-index: 1


.description 
    width: 40em
    height: 10em
    overflow: scroll

.splashContainer:hover .hidden
    visibility: visible
    display: inline


.champion 
    border: orangered 0.1em solid

footer 
    position: fixed
    bottom: 0px
    width: 100%
    height: 60px
    font-size: 1em

