@import "grid.css";

.itemList{
    @include row
    height: 8em;
    border:  0.3em dashed darkslategray;
}

.scroll {
    overflow: scroll;
    border: royalblue ridge 2px;
}
.scroll::-webkit-scrollbar {
    display: none;
}
.ItemInBuild {
    border: blue 0.1em solid;
    height: 4em;
    width: 4em;
}

.build {
    border: red 0.14em dotted;
    width: 40em;
    height: 20em;
}

.itemSplashContainer {
    border: yellow 0.1em solid;
    height: 4em;
    width: 4em;

}

.splash {
    border-radius: 100%;
    border: 2px black solid;
    height: 3em;
    width: 3em;
}
.splash.champion {
    font-size: 2em;
}

.hiddenItem {
    visibility: hidden;
    display: none;
    position: relative;
    bottom: 0px;
    left: 0px;
    border: greenyellow 0.1em solid;
}

.item {
    width: 40em;
    height: 30em;
    border: darkseagreen 0.1em solid;
    position: fixed;
    top: 0em;
    left: 43em;
    z-index: 1;
}

.description {
    width: 40em;
    height: 10em;
    overflow: scroll;
}
.ItemInBuild:hover .hiddenItem {
    visibility: visible;
    display: inline;
}

.champion {
    border: orangered 0.1em solid;
}

.button {

}

.map {

}

.html, body {
    /*background-color: black;*/
    /*color: lightgreen;*/
    background: white;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    font-size: 1em;
    background: green;
}

.bottom {
    position: relative;
    bottom: 0px;
    border: cornflowerblue 0.4em dashed;
}
