{{ define "404" }}
<style>
    html {
        background: url("http://i.imgur.com/Mj3xQ2V.png") no-repeat center center  fixed;
    }
</style>
<a href="/" class="button">Go To Our HomePage</a>
<pre>
    {{ . }}
</pre>
{{end}}
