{{ define "build" }}
<div class="build">
    <div class="row">
        {{ template "championInBuild" .Champion }}
        <div>
        <h1>{{ .Name }}</h1>
        <h2>{{ .Champion.Name }}</h2>
        </div>
    </div>
    </br>
    <a href="{{ .PermLink }}">PermLink</a>
    <div class="splashList">
        {{ range .Items }}
            {{ template "itemInBuild" . }}
        {{ end }}
    </div>
    <h4>Total Cost: {{ .TotalCost }}</h4>
</div>
{{ end }}


