{{ define "build" }}
<div class="build">
    {{ template "splash" .Champion }}
    {{ template "map" .Map }}
    {{ .Name }}
    </br>
    <a href="{{ .PermLink }}">PermLink</a>
    <div class="splashList">
        {{ range .Items }}
            {{ template "itemInBuild" . }}
        {{ end }}
    </div>
</div>

{{ end }}
