{{ define "build" }}

<style>
    div.Build {
        border: 0.2em solid black;
        display: inline-block;
    }
</style>

<div class="Build">
    <div>
    {{ template "champion" .Champion }}
    {{ .Name }}
    </br>
    <a href="{{ .PermLink }}">PermLink</a>

    </div>
    <div class="itemsInBuild">
        {{ range .Items }}
            {{ template "item" . }}
        {{ end }}
    </div>
</div>

{{ end }}
