{{ define "champion" }}
<div class="champion">
    {{ template "bigsplash" . }}
    {{ .Name }}
    {{ .Title }}
    <div>
    {{ range .Spells }}
        {{ template "spellSplash" . }}
    {{end}}
    </div>
</div>
{{end}}

{{ define "spellSplash" }}
    <img src="{{ .Image.Picture }}" class="splashArt"/>
{{end}}
