{{ define "champion" }}
<div class="champion">
    <img src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/champion/{{ .Image.Full }}">
    <div class="AltText">    {{ .Name }} </div>
</div>
{{ end }}
