{{define "champs"}}
    <h1>Champions ({{ len . }} total)</h1>
    <div class="champList wide">
        {{ range . }}
                <div class="op-{{ .Info.Difficulty }}">
                {{ template "championInBuild" . }}
                </div>
        {{end}}
    </div>
{{end}}
