{{define "content"}}
<h1>Items ({{ len . }} total)</h1>
    <table>
        <tbody>
            {{ range . }}
                <tr>
                    {{ template "item" . }}
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}
