{{define "divhover"}}
<html>
<head>
    <link rel='shortcut icon' href="/static/favicon.ico" type='image/x-icon' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
    <script type="text/javascript" src="/static/js/clipboard.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/hover.css">
    <meta name="viewport" content="width=device-width">
    <title>{{ .Name }}</title>
    <style>
        .delayShow {
            display: none;
        }
    </style>
</head>
<body>



</body>
</html>

{{end}}
