{{define "header"}}
<html>
<head>
    <link rel='shortcut icon' href="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{ .Image.Full }}" type='image/x-icon' />
    
    <title>Templates for Ultimate Bravery</title>
</head>
<body>
{{end}}
