{{define "header"}}
<html>
<head>
    <link rel='shortcut icon' href="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{ .Image.Full }}" type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <!--<meta http-equiv="refresh" content="10">-->
    <title>{{ .Name }}</title>
</head>
<body>
{{end}}
