{{define "item"}}
<div class="item">
    <div>
    {{ template "splash" . }}
    <div class="description scroll">
    <p>{{ .SanitizedDescription }}</p>
    <pre class="">

        Id           : {{ .Id }}
        Name         : {{ .Name }}
        Cost (Base)  : {{ .Gold.Base }}
        Cost (Total) : {{ .Gold.Total }}
    </pre>
    </div>
    </div>
    <div class="half">
        {{ if len .IntoItems }}
            <div class="splashList">
                Into:
                {{ range .IntoItems  }}
                    {{template "splash" .}}
                {{end}}
            </div>
        {{end}}
        {{ if len .FromItems }}
            <div class="splashList">
                From:
                {{ range .FromItems }}
                    {{ template "splash" . }}
                {{end}}
            </div>
        {{end}}
    </div>
</div>
{{end}}
