{{define "itemInBuild"}}
<div class="ItemInBuild">
    <a href="{{ .PermaLink }}">
        <img class="itemSplash" src="{{ .Picture }}" alt="{{ .Name }}"/>
    </a>
    <div class="itemHover"> {{ template "item" . }} </div>
</div>
{{end}}
