{{define "item"}}
<div class="item">
    <img class="itemSplash" src="http://ddragon.leagueoflegends.com/cdn/6.2.1/img/item/{{ .Image.Full }}"/>
    {{ .SanitizedDescription }}
    <pre>
        Id:   {{ .Id }}
        PermLink: {{ .PermaLink }}
        Image Full:   {{ .Image.Full }}
        Name: {{ .Name }}
        Cost: {{ .Gold.Total }}
    </pre>
    <div class="listItems">
        {{ if len .IntoItems }}
            Into:
            {{ range .IntoItems  }}
                {{template "itemInBuild" .}}
            {{end}}
        {{end}}
    </div>

    <div class="listItems">
        {{ if len .FromItems }}
            From:
            {{ range .FromItems }}
                {{ template "itemInBuild" . }}
            {{end}}
        {{end}}
    </div>
</div>
{{end}}
