{{define "item"}}
<div class="item">
    {{ template "itemSplash" . }}
    {{ .SanitizedDescription }}
    <pre>
        Id           : {{ .Id }}
        Name         : {{ .Name }}
        Cost (Base)  : {{ .Gold.Base }}
        Cost (Total) : {{ .Gold.Total }}
    </pre>
    <div    class="bottom">
        {{ if len .IntoItems }}
            <div class="itemList">
                Into:
                {{ range .IntoItems  }}
                    {{template "itemSplash" .}}
                {{end}}
            </div>
        {{end}}
        {{ if len .FromItems }}
            <div class="itemList">
                From:
                {{ range .FromItems }}
                    {{ template "itemSplash" . }}
                {{end}}
            </div>
        {{end}}
    </div>
</div>
{{end}}
